.content-container{
	display:block;
	margin: 25px auto;
	width:70%;
}
.nav-container{
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display: -moz-box; 
	display:flex;
	flex-direction: row;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	justify-content: space-between;
	-webkit-box-pack: space-between;
	-webkit-justify-content: space-between;
	-ms-flex-pack: space-between;

	align-items: center;
	-webkit-align-items: center;

	.nav-head{
		font-family:'Libre Baskerville', serif;
		color: #454545;
		font-size:26px;
	}
	.nav-link-port{
		font-size:12px;
		text-transform:uppercase;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
	ul li{
		display:inline;
		padding:10px;
	}
}

.portfolio-nav{
	position: fixed;
	top:50px;
	left: 0px;
	width:15%;
	text-align:right;
	padding-right:20px;
	ul{
		list-style-type:none;
	}
	}

.portfolio-container{
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display: -moz-box; 
	display:flex;
	flex-direction: row;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	justify-content: flex-start;
	-webkit-box-pack: flex-start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: flex-start;

	align-items: baseline;
	-webkit-align-items: baseline;

	.portfolio-content{
		width:70%;
	}
}

#pnav li{
	border-right: 3px solid white;
	margin-right: 3px;
}

#pnav a{
	-webkit-transition: .5s all ease-out;
    -moz-transition: .5s all ease-out;
    transition: .5s all ease-out;
}
#pnav a:hover{
	color:#000;
	text-decoration:none;
}
#pnav li.active a{
	border-right: 3px solid #333;
	color:#333;
	text-decoration:none;
}

.portfolio-row {
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display: -moz-box; 
	display:flex;
	flex-direction: row;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	justify-content: flex-start;
	-webkit-box-pack: flex-start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: flex-start;

	align-items: center;
	-webkit-align-items: center;
	.section-copy{
		width: 50%;
	}
}

#design {
	.portfolio-row{
		display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display: -moz-box; 
	display:flex;
	flex-direction: row;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	justify-content: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;

	align-items: center;
	-webkit-align-items: center;
	}

	.section-copy{
		width: 50%;
	}
}
