.hero{
	border-radius:25px;
	overflow:hidden;
	width:100%;
	img{
		width: 100%;
		height: auto;
		border-radius:25px;
	}
	margin-top:50px;
	margin-bottom:50px;
}

.sep{
	width:100%;
	border-top:1px solid #cccccc;
	margin-top:25px;
	margin-bottom:25px;
}
.content-container{
	display:block;
	margin: 25px auto;
	width:70%;
}
.nav-container{
	a {
		text-decoration: none;
		color: #000;
	}
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display: -moz-box; 
	display:flex;
	flex-direction: row;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	justify-content: space-between;
	-webkit-box-pack: space-between;
	-webkit-justify-content: space-between;
	-ms-flex-pack: space-between;

	align-items: center;
	-webkit-align-items: center;

	.nav-head{
		font-family:'Libre Baskerville', serif;
		color: #454545;
		font-size:26px;
	}
	.nav-link-port{
		font-size:12px;
		text-transform:uppercase;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
	ul li{
		display:inline;
		padding:10px;
	}
}

.portfolio-nav{
	position: fixed;
	top:50px;
	left: 0px;
	width:15%;
	text-align:right;
	padding-right:20px;
	ul{
		list-style-type:none;
	}
}

.portfolio-container{
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display: -moz-box; 
	display:flex;
	flex-direction: row;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	justify-content: flex-start;
	-webkit-box-pack: flex-start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: flex-start;

	align-items: baseline;
	-webkit-align-items: baseline;

	.portfolio-content{
		width:70%;
	}
}

#pnav li{
	border-right: 3px solid white;
	margin-right: 3px;
}

#pnav a{
	-webkit-transition: .5s all ease-out;
	-moz-transition: .5s all ease-out;
	transition: .5s all ease-out;
}
#pnav a:hover{
	color:#000;
	text-decoration:none;
}
#pnav li.active a{
	border-right: 3px solid #333;
	color:#333;
	text-decoration:none;
}

section{
	margin-bottom:200px;
}

.portfolio-row {
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display: -moz-box; 
	display:flex;
	flex-direction: row;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	justify-content: flex-start;
	-webkit-box-pack: flex-start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: flex-start;

	align-items: center;
	-webkit-align-items: center;
	.section-img{
		width:25%;
		img{
			padding:15px;
		}
	}
	.section-copy{
		width: 75%;
	}
}

#stories{
	p{
		font-family:'Merriweather', serif;
		line-height:1.5;
	}
	span{
		font-family:'Merriweather', serif;
		font-size:18px;
	}
	h2{
		margin-left:25px;
		text-transform:uppercase;
		color: #454545;
		font-size:20px;
	}
	h3{
		font-family:'Merriweather', serif;
		// color: #454545;
		font-size:20px;
	}
}

#interactive{

}

#design {
	.port-item{
		width:25%;
		img{
			width:100%;
		}
		p{
			margin:10px;
		}
	}
	.portfolio-row{
		display:-webkit-box;
		display:-webkit-flex;
		display:-ms-flexbox;
		display: -moz-box; 
		display:flex;
		flex-direction: row;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		justify-content: flex-start;
		-webkit-box-pack: flex-start;
		-webkit-justify-content: flex-start;
		-ms-flex-pack: flex-start;

		align-items: center;
		-webkit-align-items: center;
	}
}

.resume-container {
	.left{
		float:left;
	}
	.right{
		float:right;
	}
	.resume-col{
		width:50%;
		float:left;
	}
	.resume-row{
		display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display: -moz-box; 
	display:flex;
	flex-direction: row;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	justify-content: space-between;
	-webkit-box-pack: space-between;
	-webkit-justify-content: space-between;
	-ms-flex-pack: space-between;

	align-items: baseline;
	-webkit-align-items: baseline;
	}
}


